<strong>Olá, {{student}} </strong>
<p>Você teve a matricula efetuada com sucesso, veja a seguir os detalhes.</p>
<p>
  <strong>Plano: </strong>{{plan}} <br />
  <strong>Duração: </strong>{{duration}} <br />
  <strong>Preço: </strong>{{price}} <br />
  <br />
  <small>
    As atividades iniciam na data escolhida por você <strong>{{start_date}}</strong>
  </small>
</p>
